Source: ldd2debs
Section: devel
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper, dpkg-dev (>= 1.20.9), sed (>= 4.7), debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://github.com/VitexSoftware/BuildImages
Vcs-Git: https://github.com/VitexSoftware/BuildImages.git
Vcs-Browser: https://github.com/VitexSoftware/BuildImages

Package: ldd2debs
Architecture: all
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}, coreutils (>= 8.30), libc-bin (>= 2.28), sed (>= 4.7)
Description: pull current VitexSoftware's build images
 This Debian binary package was used to test of
 deb packaging docker images for several distros
